:host {
  .header {
    box-shadow: 0px 1px 8px #c6c7c8;
  }

  .header-top {
    height: 80px;
    gap: 12px;

    .logo {
      width: auto;
      height: 26px;
    }
  }

  .header-bottom {
    .nav {
      height: 60px;
    }

    .item-link {
      --bs-nav-link-color: var(--bs-gray-100);

      &:hover {
        text-decoration: underline !important;
        text-underline-offset: 5px;
      }

      &.active {
        --bs-nav-link-color: var(--bs-white);
        --bs-nav-link-hover-color: var(--bs-white);
        font-weight: 600;
        text-decoration: none !important;
      }
    }

    .btn-goback {
      --bs-link-color: var(--bs-white);
    }
  }
}
