:host {
  display: block;
  height: 100%;

  .filter {
    --select-box-input-hasvalue-color: var(--white);
    --select-box-input-hasvalue-placeholder-color: var(--white);
    --select-box-input-hasvalue-bg: var(--accent-color);
    --select-box-input-hasvalue-border-color: var(--accent-color);
    --select-box-arrow-indicator-hasvalue-color: var(--white);

    --select-box-input-opened-color: var(--accent-color);
    --select-box-input-opened-placeholder-color: var(--accent-color);
    --select-box-input-opened-border-color: var(--accent-color);
    --select-box-input-opened-box-shadow: 0 0 0 2.5px var(--accent-color);

    --select-box-dropdown-width: 200px;
  }

  .tower-filter {
    width: 75px;
  }

  .island-filter {
    width: 67px;
  }

  .subisland-filter {
    width: 87px;
  }

  .legacy-filter {
    width: 87px;
  }

  .negotiationType-filter {
    width: 140px;
  }

  .segment-filter {
    width: 102px;
  }

  .product-filter {
    width: 90px;
  }

  .manual-filter {
    width: 100px;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 200px;
    height: var(--table-height);
    z-index: 1;

    .scrollbar {
      flex: 1;
    }

    .table-content {
      overflow-x: auto;
    }
  }
}
