:host {
  display: block;

  .tower-field {
    width: 144px;
  }

  .island-field {
    width: 144px;
  }

  .name-field {
    width: 144px;
  }

  .btn-save {
    width: 144px;
  }

  .btn-cancel {
    width: 111px;
  }
}
