<app-offcanvas-template
  offcanvasTitle="{{ 'subject-register-offcanvas.title' | translate }}"
>
  <div class="py-8 px-10">
    <div class="px-3">
      <div class="row gy-5">
        <div class="col-12">
          <app-subject-register-form
            *ngIf="registerFormModeEnabled"
            [@enter]
            [@leave]
            (onSaved)="onSubjectSaved()"
            (onCanceled)="registerFormModeEnabled = false"
          ></app-subject-register-form>

          <button
            *ngIf="!registerFormModeEnabled"
            [@enter]
            [@leave]
            type="button"
            class="btn btn-primary-accent btn-lg"
            (click)="registerFormModeEnabled = true"
          >
            {{ "subject-register-offcanvas.actions.new-register" | translate }}
          </button>
        </div>

        <div class="col-12">
          <div class="list-container">
            <div class="row gy-5" *ngIf="!!(listObservable | async)?.length">
              <div
                class="col-12"
                *ngFor="
                  let group of listObservable | async;
                  trackBy: groupListTrackBy
                "
              >
                <div class="group">
                  <div class="group-header border-top p-3">
                    <span>
                      {{
                        "subject-register-offcanvas.list.group.tower"
                          | translate
                      }}
                      <span class="fw-bold">
                        {{ group.tower }}
                      </span>
                    </span>

                    <div class="v-divider mx-3"></div>

                    <span>
                      {{
                        "subject-register-offcanvas.list.group.island"
                          | translate
                      }}
                      <span class="fw-bold">
                        {{ group.island }}
                      </span>
                    </span>

                    <div class="v-divider mx-3"></div>

                    <span>
                      {{
                        "subject-register-offcanvas.list.group.subisland"
                          | translate
                      }}
                      <span class="fw-bold">
                        {{ group.subisland }}
                      </span>
                    </span>
                  </div>

                  <ul class="list-group list-group-flush border-top">
                    <li
                      class="list-group-item px-5 py-3 d-flex"
                      *ngFor="let item of group.list; trackBy: listTrackBy"
                    >
                      <div class="title text-black mb-0 fs-lg">
                        {{ item.name | translate }}
                      </div>

                      <div class="ms-auto d-flex align-items-center">
                        <app-checkbox
                          [(value)]="item.active"
                          (valueChange)="setActive(item, $event)"
                          styleType="switch"
                        ></app-checkbox>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <app-loading-indicator
              [visible]="listDataSource.isLoading()"
              [showBackdrop]="false"
            ></app-loading-indicator>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-offcanvas-template>
