:host {
  .menu-item {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;

    .menu-thumb {
      height: 150px;
      border-bottom: var(--bs-card-border-width) solid
        var(--bs-card-border-color);

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .menu-item-body {
      display: flex;
      flex-direction: column;
    }

    .chart-info-container {
      position: relative;
      display: flex;
      flex-direction: column;
      flex: 1;
      min-height: 200px;
    }
  }
}
