<div [formGroup]="formGroup" class="row gy-3">
  <div class="col-12">
    <app-select-box
      formControlName="towers"
      class="filter"
      [dataSource]="towerDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.tower.placeholder' | translate
      }}"
    ></app-select-box>
  </div>
  <div class="col-12">
    <app-select-box
      formControlName="islands"
      class="filter"
      [dataSource]="islandDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.island.placeholder' | translate
      }}"
    ></app-select-box>
  </div>
  <div class="col-12">
    <app-select-box
      formControlName="subislands"
      class="filter"
      [dataSource]="subislandDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.subisland.placeholder' | translate
      }}"
    ></app-select-box>
  </div>
  <div class="col-12">
    <app-select-box
      formControlName="subjects"
      class="filter"
      [dataSource]="subjectDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.subject.placeholder' | translate
      }}"
    ></app-select-box>
  </div>
  <div class="col-12">
    <app-select-box
      formControlName="segments"
      class="filter"
      [dataSource]="segmentsDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.segment.placeholder' | translate
      }}"
    ></app-select-box>
  </div>
  <div class="col-12">
    <app-select-box
      formControlName="negotiationTypes"
      class="filter"
      [dataSource]="negotiationTypeDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.negotiationType.placeholder' | translate
      }}"
    ></app-select-box>
  </div>
  <div class="col-12">
    <app-select-box
      formControlName="products"
      class="filter"
      [dataSource]="productDataSource"
      valueExpr="id"
      displayExpr="name"
      [selectedTextExprFn]="selectedTextExpr"
      [multiple]="true"
      [searchModeEnabled]="true"
      searchMode="dropdown"
      [applyButtonEnabled]="true"
      [showSelectControls]="true"
      placeholder="{{
        'productivity-filter-form.form.product.placeholder' | translate
      }}"
    ></app-select-box>
  </div>

  <div class="col-12 d-flex justify-content-end">
    <button
      type="button"
      class="btn btn-secondary-accent btn-lg"
      (click)="formGroup.reset()"
    >
      {{ "defaults.actions.clear" | translate }}
    </button>
  </div>
</div>
