// Variables

// Prefix for :root CSS variables
$prefix: bs-;

// #region Fonts

// #region Font Weight
$font-weight-medium: 500;
$font-weight-semibold: 600;
// #endregion

// #region Font Family
$font-family-base: var(--#{$prefix}font-family);
$font-family-secondary: $font-family-base;
// #endregion

// #region font-sizes
$font-16to10: 0.625;

$font-size-root: 16px;
$font-size-root-rem: 1rem * $font-16to10;
$font-size-base: 1.4rem * $font-16to10;
$font-size-xxs: 0.75rem * $font-16to10;
$font-size-xs: 1rem * $font-16to10;
$font-size-sm: 1.2rem * $font-16to10;
$font-size-md: 1.4rem * $font-16to10;
$font-size-lg: 1.6rem * $font-16to10;
$font-size-xl: 1.8rem * $font-16to10;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.4166666669;
$line-height-sm: 1.333334;
$line-height-lg: 2;

$headings-font-weight: $font-weight-normal;

$h1-font-size: $font-size-root-rem * 2.5;
$h2-font-size: $font-size-root-rem * 2;
$h3-font-size: $font-size-root-rem * 1.75;
$h4-font-size: $font-size-root-rem * 1.5;
$h5-font-size: $font-size-root-rem * 1.25;
$h6-font-size: $font-size-root-rem;
// scss-docs-end font-variables

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,

  xxs: $font-size-xxs,
  xs: $font-size-xs,
  sm: $font-size-sm,
  md: $font-size-md,
  lg: $font-size-lg,
  xl: $font-size-xl,
);
// #endregion

// #region Display font size
$display-font-sizes: (
  1: 5rem * $font-16to10,
  2: 4.5rem * $font-16to10,
  3: 4rem * $font-16to10,
  4: 3.5rem * $font-16to10,
  5: 3rem * $font-16to10,
  6: 2.5rem * $font-16to10,
);

$display-font-family: null;
$display-font-style: null;
$display-font-weight: 300;
$display-line-height: $headings-line-height;
// #endregion

// #endregion

// #region Colors
$white: #fff;
$gray-100: #F6F6F6;
$gray-200: #e2e3e3;
$gray-300: #dee2e6;
$gray-400: #C6C7C8;
$gray-500: #adb5bd;
$gray-550: #727376;
$gray-600: #6c757d;
$gray-650: #515151;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "550": $gray-550,
  "600": $gray-600,
  "650": $gray-650,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$blue: #0d6efd;
$red: #dc3545;
$yellow: #FA6423;
$green: #98cc33;

$accent: #cd1e5a;
$accent-light: #eb3c7d;
$accent-lighter: #fde8ef;
$primary: #660099;
$primary-light: #7850a0;
$primary-lighter: #9675AB;
$star: #FF9900;

$secondary: $gray-600;
$success-light: #dafb9b;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "accent": $accent,
  "accent-light": $accent-light,
  "accent-lighter": $accent-lighter,
  "primary": $primary,
  "primary-light": $primary-light,
  "primary-lighter": $primary-lighter,
  "star": $star,

  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,

  "gray-lighter": $gray-200,
  "gray-light": $gray-400,
  "gray": $gray-600,
  "gray-dark": $gray-800
);

$colors: (
  "blue": $blue,
  "red": $red,
  "yellow": $yellow,
  "green": $green,
  "black": $black,
  "white": $white,
  "gray-light": $gray-200,
  "gray": $gray-600,
  "gray-dark": $gray-800
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$component-active-color: $white;
$component-active-bg: $primary;

// #region Border
$border-width: 0.1rem * $font-16to10;
$border-widths: (
  1: $border-width,
  2: $border-width * 2,
  3: $border-width * 3,
  4: $border-width * 4,
  5: $border-width * 5,
);

$border-radius: 0.375rem * $font-16to10;
$border-radius-sm: 0.25rem * $font-16to10;
$border-radius-lg: 0.5rem * $font-16to10;
$border-radius-xl: 1rem * $font-16to10;
$border-radius-2xl: 2rem * $font-16to10;
$border-radius-pill: 50rem * $font-16to10;

$border-style: solid;
$border-color: $gray-300;
$border-color-translucent: rgba($black, 0.175);
// #endregion

$body-color: $gray-650;
// #endregion
