<div class="container my-10">
  <div class="row mb-7 align-items-center">
    <div class="col-auto">
      <h2 class="text-accent m-0">{{ 'users-admin.title' | translate }}</h2>
    </div>

    <div class="col-auto ms-auto">
      <div class="row gx-5">
        <div class="col-auto d-flex align-items-center">
          <div class="row gx-7 align-items-center">
            <div class="col-auto d-flex align-items-center">
              <app-action-icon
                class="fs-xl"
                icon="filter"
                tooltip="defaults.actions.filters"
                (click)="onBtnFiltersClick(filtersTpl)"
              ></app-action-icon>
            </div>

            <div class="col-auto d-flex align-items-center">
              <app-action-icon
                class="fs-xl"
                icon="download"
                tooltip="defaults.actions.export"
                [disabled]="!(canExportObservable | async)"
                (click)="onBtnExportClick()"
              ></app-action-icon>
            </div>

            <div class="col-auto d-flex align-items-center">
              <app-action-icon
                class="fs-xl"
                icon="refresh"
                tooltip="defaults.actions.refresh"
                (click)="onBtnRefreshClick()"
              ></app-action-icon>
            </div>
          </div>
        </div>

        <div class="col-auto">
          <div class="row">
            <div class="col-auto">
              <button
                class="btn btn-secondary-accent"
                (click)="onBtnSkillsClick()"
                [disabled]="!(canSetSkillsObservable | async) || !isAnySelected"
              >
                {{ 'users-admin.actions.skills' | translate }}
              </button>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-secondary-accent"
                (click)="onBtnEditStatusClick()"
                [disabled]="!(canSetStatusObservable | async) || !isAnySelected"
              >
                {{ 'users-admin.actions.status' | translate }}
              </button>
            </div>
            <div class="col-auto">
              <button
                class="btn btn-secondary-accent"
                (click)="onBtnDelegateClick()"
                [disabled]="!(canDelegateObservable | async) || !isAnySelected"
              >
                {{ 'users-admin.actions.delegate' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="table-container">
        <div class="table-content">
          <table
            class="table-users table table-striped table-bordered"
            cdk-table
            appTableSort
            [dataSource]="dataSource"
          >
            <ng-container cdkColumnDef="selection">
              <th cdk-header-cell *cdkHeaderCellDef width="auto">
                <app-checkbox
                  [value]="isAllSelected()"
                  (valueChange)="toggleAllSelect()"
                ></app-checkbox>
              </th>

              <td cdk-cell *cdkCellDef="let element">
                <app-checkbox
                  [value]="isSelected(element)"
                  (valueChange)="toggleSelect(element)"
                ></app-checkbox>
              </td>
            </ng-container>

            <ng-container
              *ngFor="let item of displayedColumnInfoList"
              cdkColumnDef="{{ item.name }}"
            >
              <th
                cdk-header-cell
                *cdkHeaderCellDef
                tableSortHeader
                [width]="item.width ?? ''"
              >
                {{ item.label ?? item.name | translate }}
              </th>

              <td cdk-cell *cdkCellDef="let element">
                <ng-container
                  [ngTemplateOutlet]="item.cellTemplate ?? cellDefaultTpl"
                  [ngTemplateOutletContext]="{column: item, item: element, value: element?.[item.name]}"
                ></ng-container>
              </td>
            </ng-container>

            <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
            <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <app-loading-indicator
          [visible]="dataSource.isLoading()"
          [showBackdrop]="false"
        ></app-loading-indicator>
      </div>

      <div class="mt-2">
        <app-pagination
          class="d-flex justify-content-end"
          [(page)]="dataSource.page"
          (pageChange)="dataSource.load()"
          [collectionSize]="dataSource.totalCount"
          [pageSize]="dataSource.pageSize"
        ></app-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template
  #cellDefaultTpl
  let-column="column"
  let-item="item"
  let-value="value"
>
  <ng-container [ngSwitch]="column.dataType">
    <ng-container *ngSwitchCase="TableColumnType.Date">
      {{ value | date:"dd/MM/yyyy" }}
    </ng-container>

    <ng-container *ngSwitchDefault> {{ value }} </ng-container>
  </ng-container>
</ng-template>

<ng-template #nameCellTpl let-item="item" let-value="value">
  <ng-container *ngIf="!!(canSetSkillsObservable | async); else textTpl">
    <a
      href="javascript:void(0)"
      class="link-primary-light-hover link-hover-underline"
      (click)="onUserClick(item)"
    >
      {{ value }}
    </a>
  </ng-container>

  <ng-template #textTpl> {{ value }} </ng-template>
</ng-template>

<ng-template #filtersTpl let-offcanvas>
  <app-offcanvas-template
    [offcanvas]="offcanvas"
    offcanvasTitle="{{ 'users-admin.filters-offcanvas.title' | translate }}"
  >
    <div class="px-10">
      <div class="px-3 py-8">
        <ng-template
          [cdkPortalOutlet]="usersFilterFormContentPortal"
        ></ng-template>
      </div>
    </div>
  </app-offcanvas-template>
</ng-template>

<div class="d-none">
  <div #usersFilterFormContentEl>
    <app-users-filter-form
      (onFiltersChanged)="onFiltersChanged($event)"
    ></app-users-filter-form>
  </div>
</div>
