<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="row gy-3 gx-5">
    <div class="col-auto">
      <app-field
        label="{{ 'dealing-reason-register-form.form.tower.label' | translate }}"
        class="tower-field"
      >
        <app-select-box
          [formControl]="f.towerId"
          [dataSource]="towerDataSource"
          valueExpr="id"
          displayExpr="name"
          [searchModeEnabled]="true"
          searchMode="dropdown"
          placeholder="{{
            'dealing-reason-register-form.form.tower.placeholder' | translate
          }}"
          [invalid]="!!(submitted && f.towerId.errors)"
        ></app-select-box>

        <app-field-error-container *ngIf="submitted && f.towerId.errors">
          <app-field-error-item *ngIf="f.towerId.errors.required">
            {{
              "dealing-reason-register-form.form.tower.validation.required" | translate
            }}
          </app-field-error-item>
        </app-field-error-container>
      </app-field>
    </div>
    <div class="col-6">
      <app-field
        label="{{ 'dealing-reason-register-form.form.name.label' | translate }}"
        class="name-field"
      >
        <input
          type="text"
          class="form-control"
          placeholder="{{
            'dealing-reason-register-form.form.name.placeholder' | translate
          }}"
          [formControl]="f.name"
          [ngClass]="{ 'is-invalid': !!(submitted && f.name.errors) }"
        />

        <app-field-error-container *ngIf="submitted && f.name.errors">
          <app-field-error-item *ngIf="f.name.errors.required">
            {{
              "dealing-reason-register-form.form.name.validation.required" | translate
            }}
          </app-field-error-item>
        </app-field-error-container>
      </app-field>
    </div>

    <div class="col-auto">
      <button type="submit" class="btn btn-primary-accent btn-lg btn-save">
        {{ "dealing-reason-register-form.actions.save" | translate }}
      </button>
    </div>

    <div class="col-auto">
      <button
        type="button"
        class="btn btn-secondary-accent btn-lg btn-cancel"
        (click)="onCanceled.emit()"
      >
        {{ "dealing-reason-register-form.actions.cancel" | translate }}
      </button>
    </div>
  </div>
</form>
